p {text-align:  center; font-size: 20pt ;}
table tr th {border: 1px solid black; width:303px; height: 20px;}
table tr td {border: 1px solid black; width:200px; height: 20px; text-align: center;}
.이름 {background-color: gray;}
