

#pc_dice{display: flex;}

#user_dice{display: flex;}

#pc1{width: 160px;
    height: 150px;
    display: flex;
    overflow: hidden;
    }

#pc1 > img{width: 150px;
        height: 150px;
        }

#user1{width: 160px;
      height: 150px;
      display: flex;
      overflow: hidden;
      }

#user1 > img{width: 150px;
            height: 150px;}

#pc2{width: 160px;
                height: 150px;
                display: flex;
                overflow: hidden;
                }
            
#pc2 > img{width: 150px;
                    height: 150px;
                    }
            
#user2{width: 160px;
                  height: 150px;
                  display: flex;
                  overflow: hidden;
                  }
            
#user2 > img{width: 150px;
                        height: 150px;}


#pc3{width: 160px;
                            height: 150px;
                            display: flex;
                            overflow: hidden;
                            }
                        
#pc3 > img{width: 150px;
                                height: 150px;
                                }
                        
#user3{width: 160px;
                              height: 150px;
                              display: flex;
                              overflow: hidden;
                              }
                        
#user3 > img{width: 150px;
                                    height: 150px;}








