.wrap{width: 1000px;
      height: auto;
      margin: 0 auto;}

.cont{width: 1000px;
      }

.menu{width: 400px;
      height: 400px;
      background-color: yellow;
      margin: 200px auto;}

.menu strong{font-size: 40px;
       margin-left: 60px;}

.menu p{font-size: 30px;
        margin-left: 120px;}

.menu div{margin-left: 8px;
          margin-top: 40px;
        width: 380px;
        height: 60px;
        border-radius: 20px;
        background-color: white;
        }

.menu a{text-decoration: none;
        color: rgb(189, 189, 2);
        font-size: 40px;
        font-weight: 800;
        text-align: center;
        }

