.wrap{width: 100%;
      height: auto;
      }



.wrap .dice div img{width: 100px;
                    height: 100px;
                    margin-right: 20px;}

.wrap .user div img{width: 100px;
                    height: 100px;
                    margin-right: 20px;}


.user{display: flex;}

.dice{display: flex;}

